<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Нове запитання</title>
    <link rel="stylesheet" href="../static/css/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/url.js"></script>
    <script src="../static/js/create_test.js"></script>
    <script src="../static/js/admin.js"></script>
    <script src="../static/js/create_questions.js"></script>
    <style>
#slider {
 width: 508px;
 color: #66666;
 font-family: Georgia;
 font-size: 20px;
 }
.header_s {
 width: 488px;
 border: 1px solid #cccccc;
 padding: 8px;
 margin-top: 5px;
 cursor: pointer;
 text-align: center;
 }
.header_s:hover {
 color: #666666;
 }
.content {
 overflow: hidden;
 }
.text {
 width: 474px;
 border: 1px solid #cccccc;
 border-top: none;
 padding: 15px;
 text-align: left;
 background: #eeeeee;
 font-size: 14px;
 }
</style>
    <script type="text/javascript">
var array = new Array();
var speed = 10;
var timer = 10;

// Loop through all the divs in the slider parent div //
// Calculate seach content divs height and set it to a variable //
function slider(target,showfirst) {
 var slider = document.getElementById(target);
 var divs = slider.getElementsByTagName('div');
 var divslength = divs.length;
 for(i = 0; i < divslength; i++) {
 var div = divs[i];
 var divid = div.id;
 if(divid.indexOf("header_s") != -1) {
 div.onclick = new Function("processClick(this)");
 } else if(divid.indexOf("content") != -1) {
 var section = divid.replace('-content','');
 array.push(section);
 div.maxh = div.offsetHeight;
 if(showfirst == 1 && i == 1) {
 div.style.display = 'block';
 } else {
 div.style.display = 'none';
 }
 }
 }
}

// Process the click - expand the selected content and collapse the others //
function processClick(div) {
 var catlength = array.length;
 for(i = 0; i < catlength; i++) {
 var section = array[i];
 var head = document.getElementById(section + '-header_s');
 var cont = section + '-content';
 var contdiv = document.getElementById(cont);
 clearInterval(contdiv.timer);
 if(head == div && contdiv.style.display == 'none') {
 contdiv.style.height = '0px';
 contdiv.style.display = 'block';
 initSlide(cont,1);
 } else if(contdiv.style.display == 'block') {
 initSlide(cont,-1);
 }
 }
}

// Setup the variables and call the slide function //
function initSlide(id,dir) {
 var cont = document.getElementById(id);
 var maxh = cont.maxh;
 cont.direction = dir;
 cont.timer = setInterval("slide('" + id + "')", timer);
}

// Collapse or expand the div by incrementally changing the divs height and opacity //
function slide(id) {
 var cont = document.getElementById(id);
 var maxh = cont.maxh;
 var currheight = cont.offsetHeight;
 var dist;
 if(cont.direction == 1) {
 dist = (Math.round((maxh - currheight) / speed));
 } else {
 dist = (Math.round(currheight / speed));
 }
 if(dist <= 1) {
 dist = 1;
 }
 cont.style.height = currheight + (dist * cont.direction) + 'px';
 cont.style.opacity = currheight / cont.maxh;
 cont.style.filter = 'alpha(opacity=' + (currheight * 100 / cont.maxh) + ')';
 if(currheight < 2 && cont.direction != 1) {
 cont.style.display = 'none';
 clearInterval(cont.timer);
 } else if(currheight > (maxh - 2) && cont.direction == 1) {
 clearInterval(cont.timer);
 }
}
</script>
</head>
<body onload="slider('slider',0)">
<div id="admin-content">
    <a href="/login" class="rout-to-main">Головна</a>|<a href='/login' class="delete-test"
                                                         onclick='deleteDialog()'>Видалити
    тест</a>
    <h1>Всі запитання:</h1>
    <div id="all_category" class="all-questions">
        <div id="slider">
            <div class="header_s" id="1-header_s">Первый блок</div>
            <div class="content" id="1-content">
                <div class="text">
                    Содержимое блока.
                </div>
            </div>
        </div>
    </div>
    <h1 class="new-question-head">Створення нового запитання:</h1>
    <label for="is_control">Контрольне питання</label>
    <input type="checkbox" title="контрольне запитання" id="is_control">
    <div id="new-test" class="new-test">
        <div id="questions">
            <div id="new_question">
                <div id="c_new_answers" class="answers">
                    <p>
                        <input type="text" id="i_new_question" placeholder="Назва запитання">
                        <label for="new_question_select">Ключ-</label>
                        <select name="" id="new_question_select"></select>
                        <a href="" class="delete">Видалити</a>
                    </p>
                    <p>
                        <input type="text" id="i_new_answer_1" placeholder="Відповідь" class="input-answer">
                        <label for="new_answer_1"> Ключ-</label>
                        <select title="Ключ" name="" id="new_answer_1"></select>
                        <a href="" class="delete">Видалити</a>
                    </p>
                    <p>
                        <input type="text" id="i_new_answer_2" placeholder="Відповідь" class="input-answer">
                        <label for="new_answer_2"> Ключ-</label>
                        <select name="" id="new_answer_2"></select>
                        <a href="" class="delete">Видалити</a>
                    </p>

                </div>
                <button class="button" onclick="addAnswer()">Додати відповідь</button>
            </div>
        </div>
        <div id="btn_update">
            <a href="/update/{{ t_id }}">
                <button type="submit" class="button" onclick="createQuestion()">Створити питання</button>
            </a>
        </div>
        <!--<button class="button" onclick="addQuestion()">Додати запитання</button>-->
    </div>
</div>
<script>
    loadCreateQuestions("{{t_id}}")
</script>
</body>
</html>