<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Профорієнтаційний тест</title>
    <link rel="stylesheet" href="../static/css/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/url.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div id="content">
    <img src='../static/img/logo_b.png' alt='' class='image_title'>
    <h1 class="head-text">Оберіть бажаний тест</h1>
    <div id="listTest"></div>
</div>
<script>loadTest()</script>
</body>
</html>