<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Профорієнтаційний тест</title>
    <link rel="stylesheet" href="../static/css/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="shortcut icon"
          href="../static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/run_test.js"></script>
    <script src="../static/js/url.js"></script>
</head>
<body>
<div class="header">
    <h1 id="number_question_in_list"></h1>
    <a href="/" class="finish-test">
        <h1>
            <button onclick="deleteStorage()">Закінчити тест</button>
        </h1>
    </a>
</div>
<div id="content">
    <h1 class="head-text question-head">
        <div id="question_body"></div>
    </h1>
    <div id="block_answers_in_q" class="test"></div>
</div>
<script type="text/javascript">
    runTest('{{t_id}}');
</script>
</body>
</html>